* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: #040d1f;
  --orange: #f18128;
  --white: #fff;
  --black: #000;
  --gray: #c8c8c8;
}

body {
  background: var(--darkblue);
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  max-width: 1134px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: auto;
  margin-left: auto;
}

.section__title {
  color: var(--orange);
  font-family: "Comfortaa";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 54px;
  display: inline-block;
}

.section__title::after {
  content: "";
  display: block;
  height: 2px;
  background: var(--orange);
  margin-top: 10px;
}

.watch__btn {
    padding: 17px 48px;
    border-radius: 4px;
    background: var(--orange);
    color: var(--black);
    text-align: justify;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
  }

/* header */

.header__top {
  padding: 20px 0;
  background: linear-gradient(
    90deg,
    #3800af 0%,
    #bf7204 97.52%,
    #c27500 100%,
    #c27500 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  animation: navbg 5s infinite linear;
}

.header__top img {
  width: 50px;
  height: 40px;
  animation: nav_icon 5s infinite linear;
}

.header__top p {
  width: 166px;
  color: #fff;
  font-family: "Comfortaa";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__nav {
  background: var(--black);
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  animation: logo 5s 1 linear;
  overflow: hidden;
}

.header__logo span {
  color: var(--white);
  font-family: "Comfortaa";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.header__list {
  display: flex;
}

.header__link {
  position: relative;
  display: block;
  padding: 42px 15px;
  color: var(--white);
  text-align: right;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s;
}

.header__link:hover {
  color: var(--orange);
}

.header__link:hover::after {
  transform: scale(1);
}

.header__link::after {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 23px 10px 0px 0px;
  background: var(--orange);
  transform: scale(0);
  transition: 0.3s;
}

/* main */
/* section intro */

.intro {
  height: calc(100vh - 182px);
  position: relative;
}

.intro__bg {
  width: 100%;
  height: 100%;
}

.intro-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 15, 25, 0.75);
  display: flex;
  align-items: center;
}

.intro__title {
  color: var(--white);
  font-family: "Montserrat";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intro__text {
  color: var(--gray);
  text-align: justify;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0 50px;
  width: 570px;
}

.intro__button {
  display: flex;
  gap: 30px;
}

.intro__load {
  padding: 17px 48px;
  border-radius: 4px;
  background: var(--darkblue);
  color: var(--white);
  text-align: justify;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

/* section films */

.films {
  padding: 60px 0 77px;
  background: var(--darkblue);
}

.films__content {
  display: flex;
  justify-content: space-between;
}

.films__box {
  position: relative;
  width: 255px;
  border-radius: 6px;
  transition: 0.5s;
}

.films__box:hover {
  transform: scale(1.1);
}

.films__info {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(241, 129, 40, 0.35) 0%,
    rgba(0, 0, 0, 0.71) 51.04%,
    rgba(7, 15, 25, 0.8) 100%
  );
  border-radius: 6px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 54px 14px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.films__bg {
  width: 100%;
  height: 100%;
}

.films__icon {
  width: 40px;
  height: 46px;
}

.films__time {
  padding: 7px 27px;
  border-radius: 9px;
  border: 1px solid var(--white);
  background: rgba(7, 15, 25, 0.2);
  color: var(--white);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  margin-top: 12px;
  margin-bottom: 30px;
}

.films__title {
  color: var(--white);
  text-align: center;
  font-family: "Montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.films__text {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* section widow */

.widow {
  height: 500px;
  position: relative;
}

.widow__bg {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: -1;
}

.widow__content {
  background: linear-gradient(
    90deg,
    #def7ff 0%,
    #f4fcff 45.64%,
    rgba(255, 255, 255, 0) 100.72%
  );
  height: 100%;
  display: flex;
  align-items: center;
}

.widow__image {
  width: 445px;
}

.widow__text {
  color: var(--black);
  text-align: justify;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 558px;
  margin-top: 50px;
  margin-bottom: 55px;
}

/* section collect */

.collect {
  background: var(--darkblue);
  padding-top: 60px;
}

.collect__content {
  display: flex;
  justify-content: space-between;
}

.collect__box {
  position: relative;
  width: 350px;
  height: 195px;
  border-radius: 6px;
}

.collect__bg {
  width: 100%;
  height: 100%;
}

.collect__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(7, 15, 25, 0.56) 0%,
    rgba(49, 114, 9, 0.56) 100%
  );
  padding: 8px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.collect__title p {
  color: var(--white);
  font-family: "Comfortaa";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 15px;
}

/* section series */

.series {
  padding-top: 60px;
  background: var(--darkblue);
}

.series__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-gap: 30px;
}

.series__box:nth-child(1) {
  grid-column: span 4;
  grid-row: span 2;
}

.series__box:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}

.series__box {
  position: relative;
  border-radius: 6px;
}

.series__bg {
  width: 100%;
  height: 100%;
}

.series__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    96deg,
    rgba(35, 35, 35, 0.8) 10.86%,
    rgba(11, 11, 11, 0.6) 110.86%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.series__title {
  color: var(--white);
  font-family: "Comfortaa";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.series__text {
  color: var(--white);
  text-align: center;
  font-family: "Comfortaa";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 27px;
  margin-bottom: 30px;
  width: 96%;
}

.series__box-title {
  color: var(--white);
  font-family: "Comfortaa";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}
/* footer */

.footer {
  margin-top: 69px;
  padding: 24px 0;
  background: linear-gradient(90deg, #ff8c30 0%, #9f4700 100%);
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__media {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer__text {
  color: #fff;
  text-align: right;
  font-family: 'Comfortaa';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
}

@keyframes navbg {
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes nav_icon {
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes logo {
  0% {
    width: 0px;
  }

  100% {
    width: 200px;
  }
}
